<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/p2pfb/src/edu/washington/cs/cse490h/lib/MessageLayer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.washington.cs.cse490h.lib.MessageLayer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s -l partialOrder.log -L totalOrder.log -f 0 -n tests.PaxosTester"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="p2pfb"/>
</launchConfiguration>
